
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
/*<![CDATA[*/

var serverContext = [[@{/}]];
	
$(document).ready(function() {
	
	$("#mensajeErrorCambiarContrasenia").hide();
	$("#mensajeExitoCambiarContrasenia").hide();
	
  $('.dropify').dropify();
  addControlState(document.getElementById('divUsername'),/*[[#{mensaje.username.requerido}]]*/);
  addControlState(document.getElementById('divCorreo'),/*[[#{mensaje.correo.requerido}]]*/);
  addControlState(document.getElementById('divNombre'),/*[[#{mensaje.nombre.requerido}]]*/);
  addControlState(document.getElementById('divApellidoPaterno'),/*[[#{mensaje.appaterno.requerido}]]*/);
  addControlState(document.getElementById('divContraseniaAnterior'),/*[[#{mensaje.contraseniaanterior.requerido}]]*/);
  addControlState(document.getElementById('divContraseniaNueva'),/*[[#{mensaje.contrasenianueva.requerido}]]*/);
  addControlState(document.getElementById('divContraseniaConfirmacion'),/*[[#{mensaje.contraseniaconfirmacion.requerido}]]*/);
});

function cambiarContrasenia(){
	var contraseniaAnterior= $("#contraseniaAnterior").val();
	var contraseniaNueva= $("#contraseniaNueva").val();
	var contraseniaConfirmacion= $("#contraseniaConfirmacion").val();
	
	var obj = { "contraseniaAnterior": contraseniaAnterior, "contraseniaNueva":contraseniaNueva, "contraseniaConfirmacion": contraseniaConfirmacion };
	
	$.post(serverContext + "api/usuarios/cambioContrasenia",obj ,function(data, status, xhr){
		console.log( status );
		console.log( xhr.status );
		console.log( data );
		if( 200 == xhr.status){
			$("#mensajeExitoCambiarContrasenia").show();
			$("#mensajeExitoCambiarContraseniaSpan").text(data);
		}
    }).fail(function(data, textStatus, xhr) {
    	$("#mensajeErrorCambiarContrasenia").show();
		$("#mensajeErrorCambiarContraseniaSpan").text(data.responseText);
   })
}
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">usuario.perfil</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">usuario.usuario</a></li>
                            <li class="breadcrumb-item active">usuario.detalle</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card"> 
                        	<img class="card-img" src="../../assets/images/background/socialbg.jpg" alt="Card image">
                            <div class="card-img-overlay card-inverse  social-profile d-flex justify-content-center">
                                <div class="align-self-center "> 
                                	<div th:switch="${usuarioDto.fotoUrl != null}"> 
<!--                                 	  	<span th:case="${false}" class="round" style="width:100px; height: 100px"></span> -->
                                	  	<img th:case="${false}" src="../../assets/images/users/1.jpg" class="img-circle" width="100">
                                		<img th:case="${true}" src="../../assets/images/users/1.jpg" class="img-circle" width="100">
									</div>
                                	
                                    <h4 class="card-title" th:text="${usuarioDto.nombre}"></h4>
                                    <p class="text-white" th:text="${usuarioDto.apellidoPaterno}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body"> <small class="text-muted" th:text="#{label.usuario.correo}"></small>
                                <h6 th:text="${usuarioDto.correo}"></h6> 
                                <small class="text-muted p-t-30 db" th:text="#{label.usuario.telefono}"></small>
                                <h6 th:text="${usuarioDto.telefono}"></h6> 
                                <small class="text-muted p-t-30 db" th:text="#{label.usuario.googleMapsDir}"></small>
	                                <div class="map-box">
                                		<iframe th:src="${usuarioDto.googleMapsDir}" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div> <small class="text-muted p-t-30 db" th:text="#{label.usuario.redessociales}"></small>
                                <br/>
                                <a target="_blank" rel="noopener noreferrer" th:if="${usuarioDto.facebook != null && usuarioDto.facebook != ''}" th:href="${usuarioDto.facebook}" class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" rel="noopener noreferrer" th:if="${usuarioDto.twiter != null && usuarioDto.twiter != ''}" th:href="${usuarioDto.twiter}" class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" rel="noopener noreferrer" th:if="${usuarioDto.youtube != null && usuarioDto.youtube != ''}" th:href="${usuarioDto.youtube}" class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#perfil" role="tab"  th:text="#{usuario.perfil.perfil}"></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#editar" role="tab" th:text="#{usuario.perfil.editar}"></a> </li>
                                 <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cambio-contrasenia" role="tab" th:text="#{usuario.perfil.cambio.contrasenia}"></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!--second tab-->
                                <div class="tab-pane active" id="perfil" role="tabpanel">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.username}" ></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.username}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.nombre}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.nombre} + ' ' + ${usuarioDto.apellidoPaterno}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.correo}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.correo}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.activo}"></strong>
                                                <br>
                                                 <div th:switch="${usuarioDto.activo}"> 
                                                  <p th:case="${true}" class="text-success" th:text="#{usuario.activo}"></p>
                                                  <p th:case="${false}" class="text-muted" th:text="#{usuario.inactivo}"></p>
												 </div>
                                            </div>

                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.roles}"></strong>
                                                <br>
                                                <th:block th:each="rol : ${usuarioDto.roles}">
                                                	 <p class="text-muted" th:text="${rol.nombre}"></p>
                                                </th:block>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.telefono}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.telefono}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.facebook}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.facebook}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.twiter}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.twiter}"></p>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
      
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.youtube}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${usuarioDto.youtube}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="editar" role="tabpanel">
                                    <div class="card-body">
                                        <form name="editarUsuarioForm" action="#" th:action="@{/usuarios/perfil/editar}" th:object="${usuarioDto}" method="post" class="form-control-line">
<!--                                         	<input type="hidden" class="form-control" th:field="*{id}"/> -->
                                            <div id="divUsername" th:class="${#fields.hasErrors('username')}? 'form-group has-danger':'form-group'">
                                                <label class="col-md-12" th:text="#{label.usuario.username}"></label>
                                                <div class="col-md-12">
                                                     <input type="text" class="form-control" th:field="*{username}" placeholder="label.usuario.username">
                                                     <span class="form-control-feedback">
									                	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
									              	</span> 
                                                </div>
                                            </div>
                                            <div id="divCorreo" th:class="${#fields.hasErrors('correo')}? 'form-group has-danger':'form-group'">
                                                <label for="example-email" th:text="#{label.usuario.correo}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{correo}" placeholder="label.usuario.correo"> 
                                                    <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></span>
										              </span>
                                                </div>
                                            </div>
                                            <div id="divNombre" th:class="${#fields.hasErrors('nombre')}? 'form-group has-danger':'form-group'">
                                                <label for="example-nombre" th:text="#{label.usuario.nombre}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{nombre}" placeholder="label.usuario.nombre">  
                                                    <span class="form-control-feedback">
									                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
									              </span>
                                                </div>
                                            </div>
                                            <div id="divApellidoPaterno" th:class="${#fields.hasErrors('apellidoPaterno')}? 'form-group has-danger':'form-group'">
                                                <label for="example-email" th:text="#{label.usuario.apellidopaterno}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{apellidoPaterno}" placeholder="label.usuario.apellidopaterno">  
                                                    <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('apellidoPaterno')}" th:errors="*{apellidoPaterno}"></span>
										              </span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" th:text="#{label.usuario.apellidomaterno}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{apellidoMaterno}" placeholder="label.usuario.apellidomaterno">  
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="example-email" th:text="#{label.usuario.telefono}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{telefono}" placeholder="label.usuario.telefono">  
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="example-email" th:text="#{label.usuario.facebook}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{facebook}" placeholder="#{label.usuario.facebook}">  
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="example-email" th:text="#{label.usuario.twiter}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{twiter}" placeholder="#{label.usuario.twiter}">  
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="example-email" th:text="#{label.usuario.youtube}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{youtube}" placeholder="#{label.usuario.youtube}">  
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label for="example-email" th:text="#{label.usuario.googleMapsDir}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input type="text" class="form-control" th:field="*{googleMapsDir}" placeholder="#{label.usuario.googleMapsDir}">  
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                    <button type="submit" class="btn btn-info-gesco waves-effect" th:text="#{etiqueta.guardar}" ></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="cambio-contrasenia" role="tabpanel">
                                    <div class="card-body">
                                        <form name="cambiarContraseniaForm" id="cambiarContraseniaForm" action="#"  th:object="${cambioContraseniaDto}" method="post" class="form-horizontal form-material">
                                        <div id="mensajeErrorCambiarContrasenia" class="alert alert-danger  m-t-20"> <i class="ti-user"></i>  <span id="mensajeErrorCambiarContraseniaSpan"></span>
					                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
					                    </div>
					                    <div id="mensajeExitoCambiarContrasenia" class="alert alert-info  m-t-20"> <i class="ti-user"></i>  <span id="mensajeExitoCambiarContraseniaSpan"></span>
					                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
					                    </div>
                                            <div id="divContraseniaAnterior" th:class="${#fields.hasErrors('contraseniaAnterior')}? 'form-group has-danger':'form-group'">
                                                <label class="col-md-12" th:text="#{label.usuario.contrasenia.anterior}"></label>
                                                <div class="col-md-12">
                                                     <input id="contraseniaAnterior" name="contraseniaAnterior" type="password" class="form-control" th:field="*{contraseniaAnterior}"> 
                                                     <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('contraseniaAnterior')}" th:errors="*{contraseniaAnterior}"></span>
										              </span>
                                                </div>
                                            </div>
                                            <div id="divContraseniaNueva" th:class="${#fields.hasErrors('contraseniaNueva')}? 'form-group has-danger':'form-group'">
                                                <label for="example-email" th:text="#{label.usuario.contrasenia.nueva}" class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input id="contraseniaNueva" name="contraseniaNueva" type="password" class="form-control" th:field="*{contraseniaNueva}" > 
                                                    <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('contraseniaNueva')}" th:errors="*{contraseniaNueva}"></span>
										              </span>
                                                </div>
                                            </div>
                                            <div id="divContraseniaConfirmacion" th:class="${#fields.hasErrors('contraseniaConfirmacion')}? 'form-group has-danger':'form-group'">
                                                <label for="example-email" th:text=#{label.usuario.contrasenia.confirmacion} class="col-md-12"></label>
                                                <div class="col-md-12">
                                                    <input id="contraseniaConfirmacion" name="contraseniaConfirmacion" type="password" class="form-control" th:field="*{contraseniaConfirmacion}" >  
                                                    <span class="form-control-feedback">
										                <span th:if="${#fields.hasErrors('contraseniaConfirmacion')}" th:errors="*{contraseniaConfirmacion}"></span>
										              </span>
                                                </div>
                                            </div>
                          
                                            <div class="form-group">
                                                <div class="col-sm-12">
                                                 	<button type="button" onclick="cambiarContrasenia();" class="btn btn-info-gesco waves-effect" th:text="#{etiqueta.guardar}"></button>
<!--                                                     <button type="submit" class="btn btn-info-gesco waves-effect" th:text="#{etiqueta.guardar}"></button> -->
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
	</div>
</body>
</html>
