<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{brand.title}">brand</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/IMAGOTIPO_GESCO_ICON.png}">
<!-- Bootstrap Core CSS -->
<link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/assets/css/style.css}" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link th:href="@{/assets/css/colors/blue.css}" id="theme" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
<body class="fix-header fix-sidebar card-no-border">
	<!--/* Standard layout can be mixed with Layout Dialect */-->
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/aside :: aside"></div>
	<div class="page-wrapper">
		<!-- ============================================================== -->
		<!-- Container fluid  -->
		<!-- ============================================================== -->
<!-- 		<div class="container-fluid"> -->
			<div layout:fragment="content"></div>
<!-- 		</div> -->
	</div>

	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
	</div>

	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/waves.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/sidebarmenu.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/custom.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
	<!-- google maps api -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="../assets/plugins/gmaps/gmaps.min.js"></script>
    <script src="../assets/plugins/gmaps/jquery.gmaps.js"></script>
</body>
</html>