<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{zona.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	addControlState(document.getElementById('codigoDiv'),/*[[#{mensaje.codigo.requerido}]]*/);
	addControlState(document.getElementById('nombreDiv'),/*[[#{mensaje.nombre.requerido}]]*/);
});
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row page-titles">
				<div class="col-md-6 col-8 align-self-center">
					<h3 class="text-themecolor m-b-0 m-t-0" th:text="#{zona.titulo}"></h3>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)" th:text="#{catalogos.titulo}"></a></li>
						<li class="breadcrumb-item active" th:text="#{zona.titulo}"></li>
					</ol>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" th:text="#{zona.titulo}"></h4>
							<h6 class="card-subtitle" th:text="#{zona.subtitulo}"></h6>
							<div class="table-responsive">

								<form name="crearZonaForm" action="#" th:action="@{/catalogos/zona}" th:object="${zonaDto}" method="post">
									<div class="form-group">
										<div id="codigoDiv" th:class="${#fields.hasErrors('codigo')}? 'form-group has-error has-feedback':'form-group has-feedback'">
											<label class="control-label" th:text="#{etiqueta.codigo}"></label>
											<input name="codigo" class="form-control" th:field="*{codigo}" required="required" th:title="#{mensaje.requerido.codigo}" />
											<span th:class="${#fields.hasErrors('codigo')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
											<span class="help-block">
												<span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="help-block"></span>
											</span>
										</div>

										<div id="nombreDiv" th:class="${#fields.hasErrors('nombre')}? 'form-group has-error has-feedback':'form-group has-feedback'">
											<label class="control-label" th:text="#{etiqueta.nombre}"></label>
											<input name="nombre" class="form-control" th:field="*{nombre}" required="required" th:title="#{mensaje.requerido.nombre}" />
											<span th:class="${#fields.hasErrors('nombre')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
											<span class="help-block">
												<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="help-block"></span>
											</span>
										</div>
									</div>

									<div class="modal-footer">
										<button type="submit" class="btn btn-info waves-effect">Guardar</button>
										<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
		</div>
	</div>
</body>
</html>
