<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{preguntasfrecuentes.title}"></title>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div layout:fragment="content">
	<div class="container-fluid">
		 <div class="row page-titles">
                   <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" th:text="#{preguntafrecuentes.titulo}"></h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)" th:text="#{catalogos.titulo}"></a></li>
                            <li class="breadcrumb-item active" th:text="#{preguntafrecuentes.titulo}"></li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" th:text="#{preguntafrecuentes.titulo}"></h4>
                                <h6 class="card-subtitle" th:text="#{preguntafrecuentes.titulo.crear}"></h6>
     							<form name="editarPreguntaFrecuenteForm" action="#" th:action="@{/catalogos/preguntas-frecuentes}" th:object="${preguntaFrecuenteDto}" method="post">
	                                    <from class="form-horizontal form-material">
	                                        <div class="form-group">
 												  <div class="col-md-12 m-b-20">
                                                      <input name="pregunta" type="text" class="form-control" placeholder="Pregunta"   th:field="*{pregunta}" required="required"/> 
                                                  </div>
                                                  <div class="col-md-12 m-b-20">
                                                      <input name="respuesta" type="text" class="form-control" placeholder="Respuesta"   th:field="*{respuesta}" required="required"/> 
                                                  </div>
	                                        </div>
	                                    </from>
	                           
	                      
	                                    <button type="submit" class="btn btn-info waves-effect" th:text="#{boton.guardar}"></button>
	                                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" th:text="#{boton.regresar}"></button>
	                       
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                </div>
	</div>
</body>
</html>
