<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{zona.titulo}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	addControlState(document.getElementById('nombreDiv'),/*[[#{mensaje.requerido.nombre}]]*/);
});
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row page-titles">
				<div class="col-md-6 col-8 align-self-center">
					<h3 class="text-themecolor m-b-0 m-t-0" th:text="#{zona.titulo}"></h3>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)" th:text="#{catalogos.titulo}"></a></li>
						<li class="breadcrumb-item active" th:text="#{zona.titulo}"></li>
					</ol>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" th:text="#{zona.titulo}"></h4>
							<h6 class="card-subtitle" th:text="#{zona.subtitulo}"></h6>
							<div class="table-responsive">
								<table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
									<thead>
										<tr>
											<th th:text="#{zona.id}"></th>
											<th th:text="#{zona.codigo}"></th>
											<th th:text="#{zona.nombre}"></th>
											<th th:text="#{zona.accion}"></th>
										</tr>
									</thead>
									<tbody>
										<th:block th:each="zona : ${zonas}">
											<tr>
												<td th:text="${zona.idZona}"></td>
												<td th:text="${zona.codigo}"></td>
												<td th:text="${zona.nombre}"></td>
												<td><a th:href="${'/catalogos/zona-editar/'  + zona.idZona}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-pencil text-inverse m-r-10" aria-hidden="true"></i></a> <a
													th:href="${'/catalogos/zona-eliminar/'  + zona.idZona}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-close text-danger" aria-hidden="true"></i></a></td>
											</tr>
										</th:block>
									</tbody>
									<tfoot>
										<tr>
											<td colspan="2">
												<button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact" th:text="#{zona.nueva}"></button>
											</td>
											<td colspan="6">
												<div class="text-right">
													<ul class="pagination">
													</ul>
												</div>
											</td>
										</tr>
									</tfoot>
								</table>

								<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
									<div class="modal-dialog modal-sm">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="mySmallModalLabel">¿Eliminar Zona?</h4>
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-danger waves-effect waves-light">Si</button>
											</div>
										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>

								<div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myModalLabel">Crear nueva Zona</h4>
												<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											</div>

											<div class="modal-body">
												<form name="crearZonaForm" action="#" th:action="@{/catalogos/zona}" th:object="${zonaDto}" method="post">
													<div class="form-group">
													<label class="control-label" th:text="#{etiqueta.nombre}"></label>
														<div id="nombreDiv" th:class="${#fields.hasErrors('nombre')}? 'form-group has-error has-feedback':'form-group has-feedback'">
															<input name="nombre" class="form-control" th:field="*{nombre}" required="required" th:title="#{mensaje.requerido.nombre}" />
															<span th:class="${#fields.hasErrors('nombre')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
															<span class="help-block">
																<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="help-block"></span>
															</span>
														</div>
													</div>
													<div id="codigoDiv" th:class="${#fields.hasErrors('codigo')}? 'form-group has-error has-feedback':'form-group has-feedback'">
														<label class="control-label" th:text="#{etiqueta.codigo}"></label>
														<input name="codigo" class="form-control" th:field="*{codigo}" required="required" th:title="#{mensaje.requerido.codigo}" />
														<span th:class="${#fields.hasErrors('codigo')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
														<span class="help-block">
															<span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="help-block"></span>
														</span>
													</div>
													<div class="modal-footer">
														<button type="submit" class="btn btn-info waves-effect">Guardar</button>
														<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
													</div>
												</form>
											</div>

										</div>
										<!-- /.modal-content -->
									</div>
									<!-- /.modal-dialog -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
		</div>
	</div>
</body>
</html>
