<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{usuario.titulo}"></title>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="row page-titles">
				<div class="col-md-6 col-8 align-self-center">
					<h3 class="text-themecolor m-b-0 m-t-0" th:text="#{contacto.titulo}"></h3>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)" th:text="#{contacto.usuario}"></a></li>
						<li class="breadcrumb-item active" th:text="#{contacto.subtitulo}"></li>
					</ol>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- Start Page Content -->
			<!-- ============================================================== -->
			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title" th:text="#{usuario.titulo}"></h4>
							<h6 class="card-subtitle" th:text="#{usuario.subtitulo}"></h6>
                                    <div class="table-responsive">
                                        <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="10">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th th:text="#{tabla.contacto.nombre}"></th>
                                                    <th th:text="#{tabla.contacto.correo}"></th>
                                                    <th th:text="#{tabla.contacto.telefono}"></th>
                                                    <th th:text="#{tabla.contacto.inmueble}"></th>
                                                    <th th:text="#{tabla.contacto.estatus}"></th>
                                                    <th th:text="#{tabla.contacto.accion}"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            	<th:block th:each="mensajeContactoDto : ${mensajesContactoDto}">
	                                                <tr>
	                                                    <td th:text="${mensajeContactoDto.id}"></td>
	                                                    <td th:text="${mensajeContactoDto.nombre}"></td>
	                                                    <td th:text="${mensajeContactoDto.correo}"></td>
	                                                    <td th:text="${mensajeContactoDto.telefono}"></td>
	                                                    <td th:text="${mensajeContactoDto.inmueble}"></td>
	                                                    <td>
		                                                    <div th:switch="${mensajeContactoDto.atendido}"> 
															  <span th:case="${true}" class="text-success" th:text="#{contacto.estatus.atendido}"></span>
															  <span th:case="${false}" class="text-danger" th:text="#{contacto.estatus.pendiente}"></span>
															</div>
														</td>
	                                                    <td>
	                                                    	<a th:href="${'/contacto/mensaje-detalle/'  + mensajeContactoDto.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-search text-inverse m-r-10" aria-hidden="true"></i></a> 
	                                                    	<a th:href="${'/contacto/mensaje-atender/'  + mensajeContactoDto.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-pencil text-inverse m-r-10" aria-hidden="true"></i></a>
	                                                    	<a th:href="${'/contacto/mensaje-eliminar/'  + mensajeContactoDto.id}" class="btn btn-sm btn-icon btn-pure btn-outline"><i class="fa fa-close text-danger" aria-hidden="true"></i></a>
	                                                    </td>
	                                                </tr>
                                               </th:block>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="7">
                                                        <div class="text-right">
                                                            <ul class="pagination"> </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================================================== -->
			<!-- End PAge Content -->
			<!-- ============================================================== -->
		</div>
	</div>
</body>
</html>
