
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0 text-gesco-secundario" th:text="#{socio.ver}"></h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a class="text-gesco-secundario" href="javascript:void(0)" th:text="#{socio.socio}"></a></li>
                            <li class="breadcrumb-item active">socio.detalle</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card"> 
                        	<img class="card-img" src="../../assets/images/background/socialbg.jpg" alt="Card image">
                            <div class="card-img-overlay card-inverse  social-profile d-flex justify-content-center">
                                <div class="align-self-center "> 
                                	<div th:switch="${socioDto.fotoUrl != null}"> 
                                		<span  th:case="${false}" class="round round-success" width="100">P</span>
                                		<img th:case="${true}" th:src="${socioDto.fotoUrl}" class="img-circle" width="100">
									</div>
                                	
                                    <h4 class="card-title" th:text="${socioDto.nombre}"></h4>
                                    <p class="text-white" th:text="${socioDto.apellidoPaterno}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body"> <small class="text-muted" th:text="#{label.usuario.correo}"></small>
                                <h6 th:text="${socioDto.correo}"></h6> 
                               <small class="text-muted p-t-30 db" th:text="#{label.usuario.telefonomovil}"></small>
                                <h6 th:text="${socioDto.telefonoMovil}"></h6> 
                                <small class="text-muted p-t-30 db" th:text="#{label.usuario.googleMapsDir}"></small>
                                <div class="map-box">
                                		<iframe th:src="${socioDto.googleMapsDir}" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div> <small class="text-muted p-t-30 db" th:text="#{label.usuario.redessociales}"></small>
                                <br/>
                                <a target="_blank" rel="noopener noreferrer" th:if="${socioDto.facebook != null && socioDto.facebook != ''}" th:href="${socioDto.facebook}" class="btn btn-circle btn-secondary"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" rel="noopener noreferrer" th:if="${socioDto.twiter != null && socioDto.twiter!= ''}" th:href="${socioDto.twiter}" class="btn btn-circle btn-secondary"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" rel="noopener noreferrer" th:if="${socioDto.youtube != null && socioDto.youtube != ''}" th:href="${socioDto.youtube}" class="btn btn-circle btn-secondary"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs profile-tab" role="tablist">
                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#detalle" role="tab" th:text="#{socio.detalle}"></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#inmueble" role="tab" th:text="#{socio.inmueble}"></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                            	  <div class="tab-pane active" id="detalle" role="tabpanel">
                                     <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.username}" ></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.username}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.nombre}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.nombre} + ' ' + ${socioDto.apellidoPaterno}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.correo}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.correo}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.activo}"></strong>
                                                <br>
                                                 <div th:switch="${socioDto.activo}"> 
                                                  <p th:case="${true}" class="text-success" th:text="#{usuario.activo}"></p>
                                                  <p th:case="${false}" class="text-muted" th:text="#{usuario.inactivo}"></p>
												 </div>
                                            </div>

                                        </div>
                                        <div class="row m-t-20">
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.roles}"></strong>
                                                <br>
                                                <th:block th:each="rol : ${socioDto.roles}">
                                                	 <p class="text-muted" th:text="${rol.nombre}"></p>
                                                </th:block>
                                            </div>
                                             <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.youtube}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.youtube}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.facebook}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.facebook}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.twiter}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.twiter}"></p>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                        
                                        	 <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.telefonomovil}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.telefonoMovil}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.telefonofijo}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.telefonoFijo}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.telefonoaficina}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.telefonoOficina}"></p>
                                            </div>
                                            <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.telefonoalternativo}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.telefonoAlternativo}"></p>
                                            </div>
                                        </div>
                                        <div class="row m-t-20">
                                        
                                        	 <div class="col-md-3 col-xs-6 b-r"> <strong th:text="#{label.usuario.datosDomicilio}"></strong>
                                                <br>
                                                <p class="text-muted" th:text="${socioDto.datosDomicilio}"></p>
                                            </div>
                                        </div>
                                        
                                        

                                    </div>
                                </div>
                                <!--second tab-->
                                <div class="tab-pane" id="inmueble" role="tabpanel">
                                    <div class="card-body">
                                    	 <div th:object="${inmuebleDto}">
							              <div class="row">
							                <div id="divNombre" class="col-md-4 form-group">
							                  <label class="control-label" th:text="#{etiqueta.nombre}"></label>
							                  <p class="form-control-static" th:text="*{nombre}"></p>
							                </div>
							                <div id="divDiaCuotaOrdinaria" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.diacuotaordinaria}"></label>
							                  <p class="form-control-static" th:text="*{diaCuotaOrdinaria}"></p>
							                </div>
							                <div id="divMontoCuotaOrdinaria" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.montocuotaordinaria}"></label>
							                  <p class="form-control-static" th:text="*{montoCuotaOrdinaria}"></p>
							                </div>
							              </div>
							              <div class="row">
							                <div id="divAdministradorInmueble" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.administradorinmueble}"></label>
							                  <p class="form-control-static" th:text="|*{adminBiNombre} *{adminBiApellidoPaterno} *{adminBiApellidoMaterno}|"></p>
							                </div>
							                <div id="divNombreRepresentante" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.nombrerepresentante}"></label>
							                  <p class="form-control-static" th:text="*{datosAdicionalesNombreRepresentante}"></p>
							                </div>
							                <div id="divRazonSocial" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.razonsocial}"></label>
							                  <p class="form-control-static" th:text="*{datosAdicionalesRazonSocial}"></p>
							                </div>
							              </div>
							              <div class="row">
							                <div id="divRfc" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.rfc}"></label>
							                  <p class="form-control-static" th:text="*{datosAdicionalesRfc}"></p>
							                </div>
							                <div id="divTelefono" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.telefono}"></label>
							                  <p class="form-control-static" th:text="*{datosAdicionalesTelefono}"></p>
							                </div>
							                <div id="divCorreo" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.correo}"></label>
							                  <p class="form-control-static" th:text="*{datosAdicionalesCorreo}"></p>
							                </div>
							
							              </div>
							              <div class="row">
							                <div id="divNumeroCuenta" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.numerocuenta}"></label>
							                  <p class="form-control-static" th:text="*{datosAdicionalesNumeroCuenta}"></p>
							                </div>
							                <div id="divImagen" class="col-md-4">
							                  <label class="form-control-label" th:text="#{etiqueta.imagen}"></label>
							                  <div class="el-card-item">
							                    <div class="el-card-avatar el-overlay-1">
							                      <a class="image-popup-vertical-fit" th:href="*{imagenUrl}"> <img th:src="*{imagenUrl}">
							                      </a>
							                    </div>
							                  </div>
							                </div>
							              </div>
							              <h3 class="box-title m-t-40" th:text="#{inmueble.direccion}"></h3>
							              <hr>
							              <div class="row">
							                <div id="divColonia" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.colonia}"></label>
							                  <p class="form-control-static" th:text="*{direccionAsentamientoNombre}"></p>
							                </div>
							                <div id="divCalle" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.calle}"></label>
							                  <p class="form-control-static" th:text="*{direccionCalle}"></p>
							                </div>
							                <div id="divNumeroExterior" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.numeroexterior}"></label>
							                  <p class="form-control-static" th:text="*{direccionNumeroExterior}"></p>
							                </div>
							
							              </div>
							              <div class="row">
							                <div id="divNumeroInterior" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.numerointerior}"></label>
							                  <p class="form-control-static" th:text="*{direccionNumeroInterior}"></p>
							                </div>
							                <div id="divEntreCalles" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.entrecalles}"></label>
							                  <p class="form-control-static" th:text="*{direccionEntreCalles}"></p>
							                </div>
							                <div id="divReferencias" class="col-md-4 form-group">
							                  <label class="form-control-label" th:text="#{etiqueta.referencias}"></label>
							                  <p class="form-control-static" th:text="*{direccionReferencias}"></p>
							                </div>
							              </div>
							            </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
	</div>
</body>
</html>
