<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<li>
					<a href="/inicio" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.inicio}"></span></a>
				</li>
				<li>
					<a href="/quienes-somos" aria-expanded="false"><i class="mdi mdi-help-circle-outline"></i> <span class="hide-menu" th:text="#{menu.quienessomos}"> ¿Quienes Somos?</span></a>
				</li>
				<li>
					<a href="/ventajas-competitivas" aria-expanded="false"><i class="mdi mdi-widgets"></i> <span class="hide-menu"  th:text="#{menu.ventajas}">Ventajas Competitivas</span></a>
				</li>
				<li>
					<a href="/nuestros-clientes" aria-expanded="false"><i class="mdi mdi-human"></i> <span class="hide-menu" th:text="#{menu.clientes}">Nuestros Clientes</span></a>
				</li>
				<li>
					<a href="/servicios" aria-expanded="false"><i class="mdi mdi-grid"></i> <span class="hide-menu" th:text="#{menu.servicios}">Servicios</span></a>
				</li>
				<li>
					<a href="/contacto" aria-expanded="false"><i class="mdi mdi-contact-mail"></i> <span class="hide-menu" th:text="#{menu.contactanos}">Contacto</span></a>
				</li>
				<li class="nav-devider"></li>
				<li sec:authorize="!isAuthenticated()">
					<a class="has-arrow " href="/login" aria-expanded="false"><i class="mdi mdi-table"></i> <span class="hide-menu" th:text="#{menu.administracion}">Administracion</span></a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a class="has-arrow" href="#" aria-expanded="true"><i class="mdi mdi-table"></i> <span class="hide-menu" th:text="#{menu.administracion}">Administracion</span></a>
					<ul aria-expanded="true" class="collapse in">
						<li>
							<a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-file"></i> <span class="hide-menu" th:text="#{menu.tickets}">Tickets</span></a>
							<ul aria-expanded="false" class="collapse">
								<li>
									<a sec:authorize="hasAuthority('ACTUALIZAR_TICKET')" href="form-basic.html" th:text="#{menu.mistickets}">Mis Tickets</a>
								</li>
								<li >
									<a href="form-layout.html" th:text="#{menu.tickets}">Reportes de Tickets</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow " href="table-basic.html" aria-expanded="false"><i class="mdi mdi-table"></i> <span class="hide-menu" th:text="#{menu.bieninmueble}">Bien Inmueble</span></a>
						</li>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i> <span class="hide-menu" th:text="#{menu.pagos}">Pagos</span></a>
							<ul aria-expanded="false" class="collapse">
								<li>
									<a href="index.html" th:text="#{menu.notificacionpago}">Notificacion De Pagos</a>
								</li>
								<li>
									<a href="index2.html" th:text="#{menu.historialpago}">Historial Pagos</a>
								</li>
								<li>
									<a href="index2.html" th:text="#{menu.morosos}">Morosos</a>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i> <span class="hide-menu" th:text="#{menu.usuarios}">Usuarios</span></a>
							<ul aria-expanded="false" class="collapse">
								<li>
									<a href="index.html" th:text="#{menu.usuarios}">Usuarios</a>
								</li>
								<li>
									<a href="index2.html" th:text="#{menu.bieninmueble}">Bienes Inmuebles</a>
								</li>
								<li>
									<a href="index3.html" th:text="#{menu.tickets}">Tickets</a>
								</li>
								<li>
									<a href="index4.html" th:text="#{menu.pagos}">Pagos</a>
								</li>
								<li>
									<a href="index5.html" th:text="#{menu.proveedores}">Proveedores</a>
								</li>
							</ul>
						</li>
						<li sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i> <span class="hide-menu" th:text="#{menu.catalogos}">Catalogos</span></a>
							<ul aria-expanded="false" class="collapse">
								<li>
									<a href="/catalogos/zona" th:text="#{menu.zonas}">Zonas</a>
								</li>
								<li>
									<a href="/catalogos/servicios" th:text="#{menu.servicios}">Servicios</a>
								</li>
								<li>
									<a href="/catalogos/areas-servicio" th:text="#{menu.areasservicio}">Areas Servicios</a>
								</li>
								<li>
									<a href="/catalogos/aviso-oportuno" th:text="#{menu.avisooportuno}">Aviso Oportuno</a>
								</li>
								<li>
									<a href="/catalogos/estatus-ticket" th:text="#{menu.estatustickets}">Estatus de Tickets</a>
								</li>
								<li>
									<a href="/catalogos/sucursales" th:text="#{menu.sucursale}">Sucursales</a>
								</li>
								<li>
									<a href="/catalogos/notificacion" th:text="#{menu.notificaciones}">Notificaciones</a>
								</li>
								<li>
									<a href="/catalogos/preguntas-frecuentes" th:text="#{menu.preguntasfrecuentes}">Preguntas Frecuentes</a>
								</li>
								<li>
									<a href="/catalogos/tipo-pago" th:text="#{menu.tipospago}">Tipos de Pago</a>
								</li>
								<li>
									<a href="/catalogos/tipo-pago-bancario" th:text="#{menu.tipopagobancario}">Tipos Pago Bancario</a>
								</li>
								<li>
									<a href="/catalogos/tipo-ticket" th:text="#{menu.tiposticket}">Tipos de Ticket</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
	<!-- Bottom points-->
	<!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->