<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<li>
					<a href="/inicio" aria-expanded="false"><i class="mdi mdi-home"></i> <span class="hide-menu" th:text="#{menu.inicio}"></span></a>
				</li>
				<li>
					<a href="/inicio#parte-quienes-somos" aria-expanded="false"><i class="mdi mdi-help-circle-outline"></i> <span class="hide-menu" th:text="#{menu.quienessomos}"></span></a>
				</li>
				<li>
					<a href="/inicio#parte-servicios" aria-expanded="false"><i class="mdi mdi-grid"></i> <span class="hide-menu" th:text="#{menu.servicios}"></span></a>
				</li>
				<li>
					<a href="/inicio#parte-ventajas-competitivas" aria-expanded="false"><i class="mdi mdi-widgets"></i> <span class="hide-menu"  th:text="#{menu.ventajas}"></span></a>
				</li>
				<li>
					<a href="/inicio#parte-nuestros-clientes" aria-expanded="false"><i class="mdi mdi-human"></i> <span class="hide-menu" th:text="#{menu.clientes}"></span></a>
				</li>
				<li>
					<a href="/inicio#parte-sucursales" aria-expanded="false"><i class="mdi mdi-arrow-expand-all"></i> <span class="hide-menu" th:text="#{menu.sucursales}"></span></a>
				</li>
				<li>
					<a href="/informacion/contacto" aria-expanded="false"><i class="mdi mdi-contact-mail"></i> <span class="hide-menu" th:text="#{menu.contactanos}"></span></a>
				</li>
				<li sec:authorize="!isAuthenticated()">
					<a href="/login" aria-expanded="false"><i class="mdi mdi-account"></i> <span class="hide-menu" th:text="#{menu.ingresosocios}"></span></a>
				</li>
				<li sec:authorize="isAuthenticated()">
					<a class="has-arrow" href="#" aria-expanded="true"><i class="mdi mdi-table"></i> <span class="hide-menu" th:text="#{menu.administracion}"></span></a>
					<ul aria-expanded="true" class="collapse in">
						<li>
							<a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-file"></i> <span class="hide-menu" th:text="#{menu.tickets}"></span></a>
							<ul aria-expanded="false" class="collapse">
								<li sec:authorize="hasAuthority('ACTUALIZAR_TICKET')">
									<a  href="form-basic.html" th:text="#{menu.mistickets}"></a>
								</li>
								<li >
									<a href="form-layout.html" th:text="#{menu.tickets}"></a>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow " href="table-basic.html" aria-expanded="false"><i class="mdi mdi-table"></i> <span class="hide-menu" th:text="#{menu.bieninmueble}"></span></a>
						</li>
						<li>
							<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-widgets"></i> <span class="hide-menu" th:text="#{menu.pagos}"></span></a>
							<ul aria-expanded="false" class="collapse">
								<li>
									<a href="index.html" th:text="#{menu.notificacionpago}"></a>
								</li>
								<li>
									<a href="index2.html" th:text="#{menu.historialpago}"></a>
								</li>
								<li>
									<a href="index2.html" th:text="#{menu.morosos}"></a>
								</li>
							</ul>
						</li>
						<li>
							<a class="has-arrow" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i> <span class="hide-menu" th:text="#{menu.usuarios}"></span></a>
							<ul aria-expanded="false" class="collapse">
								<li>
									<a th:href="@{/usuarios}" th:text="#{menu.usuarios}"></a>
								</li>
								<li>
									<a href="index2.html" th:text="#{menu.bieninmueble}"></a>
								</li>
								<li>
									<a href="index3.html" th:text="#{menu.tickets}"></a>
								</li>
								<li>
									<a href="index4.html" th:text="#{menu.pagos}"></a>
								</li>
								<li>
									<a href="index5.html" th:text="#{menu.proveedores}"></a>
								</li>
							</ul>
						</li>
						<li sec:authorize="hasAnyRole('ADMIN_CORP', 'ADMIN_ZONA', 'ADMIN_BI')">
							<a class="has-arrow " href="#" aria-expanded="false"><i class="mdi mdi-book-open-variant"></i> <span class="hide-menu" th:text="#{menu.catalogos}"></span></a>
							<ul aria-expanded="false" class="collapse">
								<li sec:authorize="hasRole('ADMIN_CORP')">
									<a href="/catalogos/zonas" th:text="#{menu.zonas}"></a>
								</li>
								<li>
									<a href="/catalogos/servicios" th:text="#{menu.servicios}"></a>
								</li>
								<li>
									<a href="/catalogos/areas-servicio" th:text="#{menu.areasservicio}"></a>
								</li>
								<li>
									<a href="/catalogos/aviso-oportuno" th:text="#{menu.avisooportuno}"></a>
								</li>
								<li>
									<a href="/catalogos/estatus-ticket" th:text="#{menu.estatustickets}"></a>
								</li>
								<li>
									<a href="/catalogos/sucursales" th:text="#{menu.sucursale}"></a>
								</li>
								<li>
									<a href="/catalogos/notificacion" th:text="#{menu.notificaciones}"></a>
								</li>
								<li>
									<a href="/catalogos/preguntas-frecuentes" th:text="#{menu.preguntasfrecuentes}"></a>
								</li>
								<li>
									<a href="/catalogos/tipo-pago" th:text="#{menu.tipospago}"></a>
								</li>
								<li>
									<a href="/catalogos/tipo-pago-bancario" th:text="#{menu.tipopagobancario}"></a>
								</li>
								<li>
									<a href="/catalogos/tipo-ticket" th:text="#{menu.tiposticket}"></a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
	<!-- Bottom points-->
	<!-- End Bottom points-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->