
<footer class="footer"> 

<div class="row">
	<div class="col-lg-6">
		<span>© 2018 Gesco </span>
	</div>
	<div class="col-lg-5 text-right">
	 <button class="btn btn-facebook waves-effect btn-circle waves-light" type="button"> <i class="fa fa-facebook"></i> </button>
	 <button class="btn btn-twitter waves-effect btn-circle waves-light" type="button"> <i class="fa fa-twitter"></i> </button>
 	 <button class="btn btn-youtube waves-effect btn-circle waves-light" type="button"> <i class="fa fa-youtube"></i> </button>
	</div>
</div>

</footer>