
<footer class="footer footer-fixed text-center" style="position:fixed"> 

	<div class="row">
		<div class="col-lg-2">
			<h4><span class="text-white">© 2018 Gesco </span></h4>
		</div>
		<div class="col-lg-2">
			<h4><span class="text-white">CDMX: 55555555 </span></h4>
		</div>
		<div class="col-lg-2">
			<h4><span class="text-white">Ags: 7777777  </span></h4>
		</div>
		<div class="col-lg-2">
			<h4><span class="text-white">Cancun: 9999999 </span></h4>
		</div>
		<div class="col-lg-2">
			<h4><span class="text-white">Qro: 1111111 </span></h4>
		</div>
		<div class="col-lg-2 ">
		 <button class="btn btn-facebook waves-effect btn-circle waves-light" type="button"> <i class="fa fa-facebook"></i> </button>
		 <button class="btn btn-twitter waves-effect btn-circle waves-light" type="button"> <i class="fa fa-twitter"></i> </button>
	 	 <button class="btn btn-youtube waves-effect btn-circle waves-light" type="button"> <i class="fa fa-youtube"></i> </button>
		</div>
	</div>

</footer>