<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer footer-fixed text-center font-weight-normal footer-font-size" style="position:fixed"> 

	<div class="row d-flex align-items-center">
		<div class="col-lg-2 ">
			<span class="text-white">© 2018 Gesco </span>
		</div>
		<div class="col-lg-2 ">
			<span class="text-white">CDMX: 01 (55) 4431 4417 </span>
		</div>
		<div class="col-lg-2">
			<span class="text-white">Aguascalientes: 449 365 2870  </span>
		</div>
		<div class="col-lg-2">
			<span class="text-white">Cancún: Por definir </span>
		</div>
		<div class="col-lg-2">
			<span class="text-white">Querétaro: 442 114 6052 </span>
		</div>
		<div class="col-lg-2">
			<a target="_blank" th:href="#{footer.archivo.avisoprivacidad}"><span class="text-white" th:text="#{footer.avisoprivacidad}"> </span></a>
		</div>
	</div>

</footer>