<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{crearzona.titulo}"></title>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		addControlState(document.getElementById('idDiv'),/*[[#{mensaje.requerido.id}]]*/);
		addControlState(document.getElementById('codigoDiv'),/*[[#{mensaje.requerido.codigo}]]*/);
		addControlState(document.getElementById('nombreDiv'),/*[[#{mensaje.requerido.nombre}]]*/);
	});
	/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading">
							<h1 th:text="#{crearzona.titulo}"></h1>
						</div>
					</div>
				</div>
				<div class="row col-md-4 col-md-offset-4">
					<form name="crearZonaForm" action="#" th:action="@{/crearZona}" th:object="${zonaDto}" method="post">
						<input type="hidden" th:field="*{creadoPorId}" />
						<input type="hidden" th:field="*{fechaCreacion}" />
						<div id="idDiv" th:class="${#fields.hasErrors('id')}? 'form-group has-error has-feedback':'form-group has-feedback'">
							<label class="control-label" th:text="#{etiqueta.id}"></label>
							<input name="id" class="form-control" th:field="*{id}" required="required" th:title="#{mensaje.requerido.id}" />
							<span th:class="${#fields.hasErrors('id')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
							<span class="help-block">
								<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}" class="help-block"></span>
							</span>
						</div>
						<div id="nombreDiv" th:class="${#fields.hasErrors('nombre')}? 'form-group has-error has-feedback':'form-group has-feedback'">
							<label class="control-label" th:text="#{etiqueta.nombre}"></label>
							<input name="nombre" class="form-control" th:field="*{nombre}" required="required" th:title="#{mensaje.requerido.nombre}" />
							<span th:class="${#fields.hasErrors('nombre')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
							<span class="help-block">
								<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="help-block"></span>
							</span>
						</div>
						<div id="codigoDiv" th:class="${#fields.hasErrors('codigo')}? 'form-group has-error has-feedback':'form-group has-feedback'">
							<label class="control-label" th:text="#{etiqueta.codigo}"></label>
							<input name="codigo" class="form-control" th:field="*{codigo}" required="required" th:title="#{mensaje.requerido.codigo}" />
							<span th:class="${#fields.hasErrors('codigo')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
							<span class="help-block">
								<span th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}" class="help-block"></span>
							</span>
						</div>
						<div class="btn-group col-xs-12">
							<input class="btn btn-primary col-xs-6" name="submit" type="submit" th:value="#{etiqueta.enviar}" />
							<a class="btn btn-danger col-xs-6" th:href="@{/}" th:text="#{etiqueta.cancelar}"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>