<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{titulo.crearareaservicio}"></title>
<script th:inline="javascript">
	/*<![CDATA[*/
	$(document).ready(function() {
		addControlState(document.getElementById('nombreDiv'),/*[[#{mensaje.requerido.nombre}]]*/);
	});
	/*]]>*/
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="heading">
							<h1 th:text="#{titulo.crearareaservicio}"></h1>
						</div>
					</div>
				</div>
				<div class="row col-md-4 col-md-offset-4">
					<form name="crearAreaServicioForm" action="#" th:action="@{/crearAreaServicio}" th:object="${areaServicioDto}" method="post">
						<div id="nombreDiv" th:class="${#fields.hasErrors('nombre')}? 'form-group has-error has-feedback':'form-group has-feedback'">
							<label class="control-label" th:text="#{etiqueta.nombre}"></label>
							<input name="nombre" class="form-control" th:field="*{nombre}" required="required" th:title="#{mensaje.requerido.nombre}" />
							<span th:class="${#fields.hasErrors('nombre')}? 'glyphicon form-control-feedback glyphicon-remove':'glyphicon form-control-feedback'"></span>
							<span class="help-block">
								<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="help-block"></span>
							</span>
						</div>
						<div class="btn-group col-xs-12">
							<input class="btn btn-primary col-xs-6" name="submit" type="submit" th:value="#{etiqueta.enviar}" />
							<a class="btn btn-danger col-xs-6" th:href="@{/}" th:text="#{etiqueta.cancelar}"></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>