<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="section">
			<div class="container">
				<div class="row col-md-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet purus auctor, hendrerit ipsum at, tincidunt enim. Donec tincidunt efficitur euismod. Suspendisse lectus dui, hendrerit
						vitae mi vitae, feugiat pulvinar justo. Nulla eget massa ligula. Quisque vel elementum tellus. Ut sit amet odio faucibus, viverra tortor non, pellentesque nunc. Vestibulum volutpat nibh sodales
						tortor luctus iaculis. Quisque a lorem eleifend, luctus risus non, fringilla mauris.</p>
					<p>Duis tristique justo at nunc posuere pellentesque. Quisque et leo dolor. Aliquam tincidunt egestas quam, suscipit tempor elit tempus vitae. Integer faucibus nibh quam, ut fermentum mi
						feugiat vitae. Cras dapibus rutrum dolor, eu porta lectus tincidunt eget. Morbi hendrerit tristique sapien, in efficitur turpis pulvinar vitae. Nam elit lorem, auctor eu fermentum vitae, varius
						ullamcorper ex. Sed commodo turpis id ligula viverra pellentesque. Proin nec vehicula magna. Quisque efficitur leo in metus lacinia, at eleifend enim tristique. Vivamus vel pellentesque sem.
						Phasellus egestas cursus semper.</p>
					<p>Donec tristique, mi vulputate rhoncus fringilla, orci neque luctus sapien, id rhoncus quam ligula non enim. Sed venenatis tortor ac risus fermentum, sit amet tincidunt ipsum placerat.
						Pellentesque id blandit ex, et rutrum sem. Ut commodo, arcu id ultrices dictum, tortor turpis efficitur turpis, quis lacinia arcu nisi id ligula. Phasellus venenatis efficitur sem eu vehicula.
						Aliquam sit amet ultricies augue. Proin pretium tristique dolor, eu porttitor ante egestas sed.</p>
					<p>Quisque nec turpis purus. Suspendisse et scelerisque quam. Nam eget dapibus libero, id hendrerit lacus. Curabitur rutrum venenatis cursus. Morbi in justo convallis, accumsan nisi vitae,
						scelerisque nulla. Morbi sed quam purus. Integer iaculis placerat massa, ut porta lacus ullamcorper sed. Curabitur tortor turpis, efficitur ut nibh eget, consequat volutpat erat. Donec placerat
						nibh felis, sit amet dapibus lacus tempor a. Morbi est diam, pulvinar eget ante ut, tempus imperdiet erat. Maecenas semper suscipit nibh. Curabitur at magna consequat, fermentum eros vel, mollis
						tellus. Etiam tellus tortor, placerat quis enim dignissim, pulvinar vestibulum elit. Sed lobortis id massa vitae auctor. Suspendisse pellentesque bibendum ligula, eu suscipit magna luctus at.</p>
					<p>Etiam pellentesque vehicula sapien id vulputate. Vivamus pharetra auctor iaculis. Donec gravida id erat sed porttitor. Mauris risus diam, cursus nec commodo ac, tempor sed diam. Nulla quis
						venenatis sem, blandit pretium nisl. Vivamus nunc nunc, sollicitudin eget venenatis vestibulum, pellentesque nec erat. Aenean vestibulum pulvinar urna ac tempus. Phasellus rutrum felis non
						faucibus tempus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sagittis gravida nibh sit amet eleifend. Duis et ligula id nisl faucibus dapibus.
						Nunc eget arcu nec lacus blandit imperdiet. Phasellus scelerisque, justo vitae laoreet sollicitudin, augue massa congue leo, sit amet sollicitudin arcu felis quis erat.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
