<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title th:text="#{home.title}"></title>
<script th:inline="javascript">
	
</script>
</head>
<body>
	<div layout:fragment="content">
	
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselExampleIndicators3" data-slide-to="1"></li>
                                                <li data-target="#carouselExampleIndicators3" data-slide-to="2"></li>
                                                <li data-target="#carouselExampleIndicators3" data-slide-to="3"></li>
                                                <li data-target="#carouselExampleIndicators3" data-slide-to="4"></li>
                                            </ol>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img class="img-responsive" src="../assets/images/heading-bg/slide1.jpg" alt="First slide">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h3 class="text-white">First title goes here</h3>
                                                        <p>this is the subcontent you can use this</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="img-responsive" src="../assets/images/heading-bg/slide2.jpg" alt="Second slide">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h2 class="text-white">Second title goes here</h2>
                                                        <p>this is the subcontent you can use this</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img class="img-responsive" src="../assets/images/heading-bg/slide3.jpg" alt="Third slide">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h1 class="text-white">Third title goes here</h1>
                                                        <p>this is the subcontent you can use this</p>
                                                    </div>
                                                </div>
                                                 <div class="carousel-item">
                                                    <img class="img-responsive" src="../assets/images/heading-bg/slide4.jpg" alt="Third slide">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h1 class="text-white">Third title goes here</h1>
                                                        <p>this is the subcontent you can use this</p>
                                                    </div>
                                                </div>
                                                 <div class="carousel-item">
                                                    <img class="img-responsive" src="../assets/images/heading-bg/slide6.jpg" alt="Third slide">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h1 class="text-white">Third title goes here</h1>
                                                        <p>this is the subcontent you can use this</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleIndicators3" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleIndicators3" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                                
		<!-- ============================================================== -->
		<!-- QUIENES SOMOS INICIO-->
		<!-- ============================================================== -->	
		<div id="parte-quienes-somos">
                                <div class="row ">
									<div class="col-12">
										<div class="bg-white">
<!-- 											<div class="card-body"> -->
												<div class="spacer">
												<div class="text-center">
						                                <h2 class="title text-megna">¿Quienes Somos?</h2>
						                                <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6>
						                        </div>
												<div class="row m-t-40 d-flex justify-content-center">
						                          	<div class="col-md-4" >
						                                      <img class="img-responsive" src="../assets/images/gallery/landscape11.jpg" alt="First slide" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
													</div>
						                               <div class="col-md-4">
						                                     <div class="text-box"> 
						                                    <h3 class="font-light">En Gesco no dedicamos a la <span class="text-megna">Administración de Bienes Inmuebles</span> somos los expertos.</h3>
						                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
						                                    <p>Quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquis would be good to have.</p>
						                                    <a class="btn btn-block btn-lg btn-primary m-t-40 " href="#parte-servicios"><span>Revisa nuestros servicios <i class="ti-arrow-right"></i></span></a>
						                               
						                                </div>
													</div>
													</div>
												</div>
<!-- 											</div> -->
										</div>
									</div>
								</div>
<!-- 								</div> -->
								
									<div class="container-fluid">
		<div class="row">
            <div class="col-md-4 wrap-feature3-box">
				<div class="card card-shadow" data-aos="zoom-out-down" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body text-center">
						<div class="p-3 display-5 text-megna"><i class="text-success-gradiant icon-people"></i></div>
						<h3>Misión</h3>
						<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
					</div>
				</div>
			</div>
			 <div class="col-md-4 wrap-feature3-box">
				<div class="card card-shadow" data-aos="zoom-out-down" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body text-center">
						<div class="p-3 display-5 text-megna"><i class="text-success-gradiant icon-people"></i></div>
						<h3>Visión</h3>
						<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
					</div>
				</div>
			</div>
			 <div class="col-md-4 wrap-feature3-box">
				<div class="card card-shadow" data-aos="zoom-out-down" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body text-center">
						<div class="p-3 display-5 text-megna"><i class="text-success-gradiant icon-people"></i></div>
						<h3>Valores</h3>
						<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
								
		<!-- ============================================================== -->
		<!-- QUIENES SOMOS FIN-->
		<!-- ============================================================== -->	
								  
								  
								  
								  
								  
	<!-- ============================================================== -->
		<!-- NUESTROS SERVICIOS INICIO-->
		<!-- ============================================================== -->
		<div id="parte-servicios">
	
          <div class="row" style="background: url(../../assets/images/background/megamenubg.jpg) no-repeat right bottom #fff;">
          	
				<div class="col-12">
					<div class="text-center spacer" >
	                    <h2 class="title text-megna">Nuestros Servicios</h2>
	                    <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6>
	                </div>
	                <div class="spacer"></div>
				</div>
			
		</div>
		

		
		<div class="container-fluid">
		<div class="row m-t-20">
            <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-right" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
			 <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row m-t-20">
            <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-right" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
			 <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
		<!-- ============================================================== -->
		<!-- NUESTROS SERVICIOS FIN-->
		<!-- ============================================================== -->								  
								  


								
								
		<!-- ============================================================== -->
		<!-- NUESTRAS VENTAJAS COMPETITIVAS INICIO-->
		<!-- ============================================================== -->	
		<div id="parte-ventajas-competitivas">

	 <div class="row" style="background: url(../../assets/images/background/megamenubg.jpg) no-repeat right bottom #fff;">
			<div class="col-12">
				<div class="text-center spacer" >
                    <h2 class="title text-megna">Nuestras Ventajas</h2>
<!--                     <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6> -->
                </div>
                <div class="spacer"></div>
			</div>
		</div>
		
	
		<div class="container-fluid"> 
		<div class="row m-t-20">
            <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-right" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
			 <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row m-t-20">
            <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-right" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
			 <div class="col-md-6 wrap-feature3-box">
				<div class="card card-shadow" data-aos="fade-left" data-aos-delay="50" data-aos-duration="2000">
					<div class="card-body d-flex">
						<div class="p-4 display-5 text-info"><i class="icon-people"></i></div>
						<div class="align-self-center">
							<h5 class="font-medium"><a href="javascript:void(0)" class="text-muted">Instant Solutions <i class="ti-arrow-right"></i></a></h5>
							<p class="m-t-20">You can relay on our amazing features list and also our customer services will be great experience.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
		<!-- ============================================================== -->
		<!-- NUESTRAS VENTAJAS COMPETITIVAS FIN-->
		<!-- ============================================================== -->	
	
	
		<!-- ============================================================== -->
		<!-- NUESTROS CLIENTES INICIO-->
		<!-- ============================================================== -->	
		
		<div id="parte-nuestros-clientes">

          <div class="row" style="background: url(../../assets/images/background/megamenubg.jpg) no-repeat right bottom #fff;">
			<div class="col-12">
				<div class="text-center spacer" >
                    <h2 class="title text-megna">Nuestros Clientes</h2>
                    <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6>
                </div>
                	<h4 class="m-b-20 p-l-20">Nuestros Clientes</h4>
                    <!-- List style -->
                    <ul class="list-style-none p-l-20">
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum </a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Lorem ipsum</a></li>
                    </ul>
			</div>
		</div>
		
		<div class="container-fluid">
		 	<div class="card-columns el-element-overlay">
                    <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/big/img5.jpg"> <img src="../assets/images/big/img5.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> <img src="../assets/images/users/1.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/2.jpg"> <img src="../assets/images/users/2.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/big/img4.jpg"> <img src="../assets/images/big/img4.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/big/img2.jpg"> <img src="../assets/images/big/img2.jpg" alt="user" /> </a>
                                
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                    <div class="card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> <img src="../assets/images/big/img1.jpg" alt="user" /> </a>
                            </div>
                            <div class="el-card-content">
                                <h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
                        </div>
                    </div>
                </div>
                
                </div>
                
                </div>
                
        <!-- ============================================================== -->
		<!-- NUESTROS CLIENTES FIN-->
		<!-- ============================================================== -->	
		
		
				<!-- ============================================================== -->
		<!-- SUCURSALES INICIO-->
		<!-- ============================================================== -->
		
		<div id="parte-sucursales">
		
		
	
          <div class="row" style="background: url(../../assets/images/background/megamenubg.jpg) no-repeat right bottom #fff;">
			<div class="col-12">
				<div class="text-center spacer" >
                    <h2 class="title text-megna">Sucursales</h2>
                    <h6 class="subtitle text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpa</h6>
                </div>
                	<h4 class="m-b-20 p-l-20">Sucursales</h4>
                    <!-- List style -->
                    <ul class="list-style-none p-l-20">
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-check text-success"></i> Sucursal</a></li>
                    </ul>
			</div>
		</div>
		

					<div class="container-fluid">
			
					<div class="row">
                            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                                <div class="ribbon-wrapper card animated fadeInLeft">
                                    <div class="ribbon ribbon-bookmark  ribbon-info">Sucursal 1</div>
                                    <div class="row  d-flex justify-content-center  m-t-40">
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/assets.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Dirección</h6>
		                                             <p class="">601 Sherwood Ave.
		                                             <br> San Bernandino</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/staff.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Telefono</h6>
		                                             <p class="">251 546 9442
		                                             <br> 630 446 8851</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/expense.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Correo Electrónico</h6>
		                                             <p class="">info@gmail.com
		                                             <br> 123@gmail.com</p>
		                                         </div>
		                                 </div>
		                             </div>
		                             <div class="row  d-flex justify-content-center">
		                             	 <div class="col-lg-12 col-md-12 text-center">
		                             		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.433571051594!2d-99.1767864846798!3d19.39366398690653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff718f4416e1%3A0x6e35698f0852629c!2sWorld+Trade+Center+Ciudad+de+M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1535393994443" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
		                             	</div>
		                             </div>
		                             
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-3 col-xs-12">
                                <div class="ribbon-wrapper-reverse card animated fadeInLeft">
                                    <div class="ribbon ribbon-bookmark  ribbon-info">Sucursal 1</div>
                                       <div class="row  d-flex justify-content-center  m-t-40">
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/assets.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Dirección</h6>
		                                             <p class="">601 Sherwood Ave.
		                                             <br> San Bernandino</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/staff.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Telefono</h6>
		                                             <p class="">251 546 9442
		                                             <br> 630 446 8851</p>
		                                         </div>
		                                 </div>
		                                 <div class="col-lg-4 col-md-4 text-center">
		                                         <div class="m-b-20 align-self-center">
		                                             <img src="../assets/images/icon/expense.png">
		                                         </div>
		                                         <div class="">
		                                             <h6 class="font-medium">Correo Electrónico</h6>
		                                             <p class="">info@gmail.com
		                                             <br> 123@gmail.com</p>
		                                         </div>
		                                 </div>
		                             </div>
		                             <div class="row  d-flex justify-content-center">
		                             	 <div class="col-lg-12 col-md-12 text-center">
		                             		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.433571051594!2d-99.1767864846798!3d19.39366398690653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff718f4416e1%3A0x6e35698f0852629c!2sWorld+Trade+Center+Ciudad+de+M%C3%A9xico!5e0!3m2!1ses-419!2smx!4v1535393994443" width="100%" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
		                             	</div>
		                             </div>
                                </div>
                            </div>
                            
                        </div>
                        
			
			</div>
	
	</div>
		<!-- ============================================================== -->
		<!-- SUCURSALES FIN-->
		<!-- ============================================================== -->
	
		
	</div>
</body>
</html>
