<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/IMAGOTIPO_GESCO_ICON.png}">
<title>Gesco PLS</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!-- Custom CSS -->
<link th:href="@{/assets/css/style.css}" rel="stylesheet">
<!-- You can change the theme colors from here -->
<link th:href="@{/assets/css/colors/blue.css}" id="theme" rel="stylesheet">
<link rel="stylesheet" th:href="@{/assets/plugins/dropify/dist/css/dropify.min.css}">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var serverContext = [[@{/}]];

$(document).ready(function() {
	console.log('validando' + $("#username").value);
	$('#mensajeValidacionUsername').hide();
	$('#mensajeValidacionPassword').hide();
	$('#mensajeValidacionLogin').hide();mensajeErrorUsuarioNoEncontrado
	$('#mensajeErrorUsuarioNoEncontrado').hide();
});

function validarLogin() {
	console.log('validando' + $("#username").val());
	console.log('validando' + $("#password").val());
	
	if ( ($("#username").val() == '' || $("#username").val() == undefined) || ($("#password").val() == '' || $("#password").val() == undefined)) {
		if ($("#username").val() == "" || $("#username").val() == undefined) {
	   	 	$("#divUsername").addClass("has-danger");
	   	 	$("#username").addClass("form-control-danger");
	   	 	$('#mensajeValidacionUsername').show();
		}
   	 	
		if ($("#password").val() == "" || $("#password").val() == undefined) {
	   	 	$("#divPassword").addClass("has-danger");
		 	$("#password").addClass("form-control-danger");
		 	$('#mensajeValidacionPassword').show();
		}
    	return false;
	}

}	

function validarRecuperaContrasenia() {
	
		if ($("#login").val() == "" || $("#login").val() == undefined) {
	   	 	$("#divLogin").addClass("has-danger");
	   	 	$("#login").addClass("form-control-danger");
	   	 	$('#mensajeValidacionLogin').show();
    		return false;
		}
		validarUsuario();
   	 	
}	

function validarUsuario(){
    var login = $("#login").val();
    $.get(serverContext + "api/usuarios/" + login, function( data ) {
    	  console.log( data );
    	  if(data == "false"){
	    	  $('#mensajeErrorUsuarioNoEncontrado').show();
	    	  return;
    	  }
   	});
}
/*]]>*/	
</script>
</head>

<body>
	<!-- ============================================================== -->
	<!-- Preloader - style you can find in spinners.css -->
	<!-- ============================================================== -->
	<div class="preloader">
		<svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
	</div>
 <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">        
            <div class="login-box card">
            <div class="card-body">
                <form class="form-control-line" id="loginform" name="loginForm" th:action="@{/login}" method="post" onsubmit="return validarLogin();">
					<a href="inicio" class="text-center db"><img th:src="@{/assets/images/LOGOTIPO_GESCO_72dpi.png}" alt="Home" /></a>
					<div th:if="${param.error}" >
	                    <div class="alert alert-danger  m-t-20"> <i class="ti-user"></i>  <span th:text="#{label.login.error.autenticacion}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                        </div>
	                </div>
					<div id="divUsername" class="form-group m-t-20">
						<div class="col-xs-12">
							<input class="form-control" id="username" name="username" type="text" placeholder="Usuario">
							<span id="mensajeValidacionUsername" class="form-control-feedback">
				                <span th:text="#{label.login.username.requerido}"></span>
				             </span>
						</div>
					</div>
					<div id="divPassword" class="form-group">
						<div class="col-xs-12">
							<input class="form-control" id="password" name="password" type="password" placeholder="Contraseña">
							<span id="mensajeValidacionPassword" class="form-control-feedback">
				                <span th:text="#{label.login.password.requerido}"></span>
				             </span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="checkbox checkbox-primary pull-left p-t-0">
								<input id="checkbox-signup" type="checkbox" name="remember-me">
								<label for="checkbox-signup" th:text="#{label.login.recordarme}"> </label>
							</div>
							<a href="javascript:void(0)" id="to-recover" class="text-dark pull-right" th:text="#{label.login.olvidecontrasenia}"><i class="fa fa-lock m-r-5"></i></a>
						</div>
					</div>
					<div class="form-group text-center m-t-20">
						<div class="col-xs-12">
							<button class="btn btn-gesco btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" th:text="#{label.login.ingresar}"></button>
						</div>
					</div>
					<div class="form-group m-b-0">
						<div class="col-sm-12 text-center">
							<p>
								No tienes cuenta? <a href="/informacion/contacto" class="text-primary m-l-5"><b>Contacta a nuestros administradores</b></a>
							</p>
						</div>
					</div>
				</form>
				<form name="recuperaContraseniaForm" action="#" th:action="@{/usuarios/correo-recuperar-contrasenia}" th:object="${recuperacionContraseniaCorreoDto}" method="post" 
					onsubmit="return validarRecuperaContrasenia();" class="form-control-line" id="recoverform" >
					<a href="inicio" class="text-center db"><img th:src="@{/assets/images/LOGOTIPO_GESCO_72dpi.png}" alt="Home" /></a>
					<div id="mensajeErrorUsuarioNoEncontrado" class="alert alert-danger  m-t-20"> <i class="ti-user"></i>  <span th:text="#{label.login.error.usuarionoencontrado}"></span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
					<div class="form-group m-t-40">
						<div class="col-xs-12">
							<h3 th:text="#{label.login.recuperacontrasenia}"></h3>
							<p class="text-muted" th:text="#{label.login.recuperacontrasenia.subtitulo}"></p>
						</div>
					</div>
					<div id="divLogin" class="form-group">
						<div class="col-xs-12">
							<input id="login" class="form-control" type="text" th:field="*{login}" placeholder="Usuario o correo">
							<span id="mensajeValidacionLogin" class="form-control-feedback">
				                <span th:text="#{label.recuperacontrasenia.login.requerido}"></span>
				            </span>
						</div>
					</div>
					<div class="form-group text-center m-t-20">
						<div class="col-xs-12">
							<button class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" th:text="#{label.login.recuperar}"></button>
						</div>
					</div>
					<div class="col-xs-12">
						<a href="login" class="btn btn-block btn-secondary text-uppercase waves-effect waves-light" th:text="#{label.login.cancelar}"></a>
					</div>
				</form>
            </div>
          </div>
        </div>
        
    </section>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
<footer class="footer-login text-center font-weight-normal"> 

	<div class="row d-flex align-items-center">
		<div class="col-lg-2 ">
			<span class="text-white">© 2018 Gesco </span>
		</div>
		<div class="col-lg-2 ">
			<span class="text-white">CDMX: 55555555 </span>
		</div>
		<div class="col-lg-2">
			<span class="text-white">Ags: 7777777  </span>
		</div>
		<div class="col-lg-2">
			<span class="text-white">Cancun: 9999999 </span>
		</div>
		<div class="col-lg-2">
			<span class="text-white">Qro: 1111111 </span>
		</div>
		<div class="col-lg-2 ">
		 <button class="btn btn-facebook waves-effect btn-circle waves-light" type="button"> <i class="fa fa-facebook"></i> </button>
		 <button class="btn btn-twitter waves-effect btn-circle waves-light" type="button"> <i class="fa fa-twitter"></i> </button>
	 	 <button class="btn btn-youtube waves-effect btn-circle waves-light" type="button"> <i class="fa fa-youtube"></i> </button>
		</div>
	</div>

</footer>
	<!-- ============================================================== -->
	<!-- All Jquery -->
	<!-- ============================================================== -->
<!-- 	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script> -->
	<script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/jquery.slimscroll.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/waves.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/sidebarmenu.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/custom.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
	<script type="text/javascript" th:src="@{/assets/plugins/dropify/dist/js/dropify.min.js}"></script>
</body>

</html>